/* Hex color codes for the background and text color */
/* Background color: #F9F9F9 */
/* Text color: #383838 */
/* Hyperlink color: #FC5800 */
/* Font family: "Noto Sans", sans-serif */

* {
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1.4;
    font-family: "Exo 2", sans-serif;
  }

h1 {
    font-size: 2.50em;
    font-weight: 300;
  }
  
h2 {
    font-size: 2em;
    font-weight: 300;
  }
  
h3 {
    font-size: 1.50em;
    font-weight: 300;
    margin: 0;
  }
h4 {
    font-size: 1em;
    font-weight: 300;
  }

p {
    font-family: "Noto Sans", sans-serif;
    text-align: left;
    font-size: 16px;    
    line-height: 1.6;
    font-weight: 300;
    font-style: normal;
}

header {
  background-color: #ffffff;
  border: solid #FFFFFF 1px; 
	box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.1)  ;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: auto;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FC5800;
}


span {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 16px;    
  font-weight: 400;
  font-style: normal;
}

main {
  padding-top: 80px;
}


img {
    width: 100%;
  }

  a {
    color: #FC5800;
    text-decoration: none;
  }
    a:visited {
        color: #620e0e;
        text-decoration: none;
    }    
    a:hover {
          color: #f3cab4;
          text-decoration: underline;    
    }
    a:focus {
      color: #FC5800;
      text-decoration: none;
    }
    a:active {
        color: #FC5800;
        text-decoration: none;
    }
    
    .button {
        display: inline-block; 
        background-color: #383838;
        color: #ffffff; 
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #191919;
        transition: 0.2s opacity;
      }

      .button:hover {
        background-color: #FC5800;
        opacity: 0.8; 
        text-decoration: none;
      }

      .button.contact {
        display: inline-block; 
        background-color: #383838;
        color: #ffffff; 
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #191919;
        transition: 0.2s opacity;
      }

      .button.contact:hover {
        background-color: #FC5800;
        opacity: 0.8; 
        text-decoration: none;
      }

/* Layout styling */

#work .row { 
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a; 
}

#hero h1 {
  text-align: center;
  font-size: 2.0em; 
}

#hero {
  background-color: #ffffff;
  padding: 0;
  display: inline-block;
  width: 100%;
}


.logo {
    max-width: 250px;
}

.social-icon {
  width: 10%;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container {
  padding: 0 15px;
  width: auto;
  max-width: 1200px;
  margin: auto;
}

.row {
   margin: 25px 0;
}



@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  #hero {
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px 0 0;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

}

@media only screen and (min-width: 1024px) {

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  #hero {
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #hero span {
    display: block;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 45%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px 0 0;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

}

