body {
    background-color: #ede8f5;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    color: black;
}

h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.50em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.50em;
    font-weight: 400;
  }
  h4 {
    font-size: 1em;
    font-weight: 400;
  }

p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;/* Removed invalid property 'line-weight' */
    font-style: italic;
}

img {
    width: 100%;
  }

  a {
    color: #232ed1;
    text-decoration: none;
  }
    a:visited {
        color: #7209b7;
        text-decoration: none;
    }    
    a:hover {
          color: #4cc9f0;
          text-decoration: underline;    
    }
    a:focus {
      color: #4361ee;
      text-decoration: none;
    }
    a:active {
        color: #4361ee;
        text-decoration: none;
    }
    











    .button {
        display: inline-block; 
        background-color: #506aff;
        color: #ffffff; 
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #191919;
        transition: 0.2s opacity;
      }

      .button:hover {
        background-color: #d54cf0;
        opacity: 0.8; 
        text-decoration: none;
      }

      .button.contact {
        display: inline-block; 
        background-color: #50ff8d;
        color: #ffffff; 
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #191919;
        transition: 0.2s opacity;
      }

      .button.contact:hover {
        background-color: #b1f04c;
        opacity: 0.8; 
        text-decoration: none;
      }