/* Hex color codes for the background and text color */
/* Background color: #F9F9F9 */
/* Text color: #383838 */
/* Hyperlink color: #FC5800 */
/* Font family: "Noto Sans", sans-serif */

* {
  box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1.4;
    font-family: "Exo 2", sans-serif;
  }
  h1 {
    font-size: 2.50em;
    font-weight: 300;
  }
  
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
  
  h3 {
    font-size: 1.50em;
    font-weight: 300;
  }
  h4 {
    font-size: 1em;
    font-weight: 300;
  }

p {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;    
    line-height: 1.6;
    font-weight: 300;
    font-style: normal;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FC5800;
}

header {
	width: [object Object]px; 
	height: [object Object]px; 
	background: #ffffff; 
	border: solid #BDBDBD 0; 
	box-shadow: 4px 5px 49px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 4px 5px 49px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 4px 5px 49px rgba(0, 0, 0, 0.3)  ; 
}

main {
  padding-top: 133px;
}


img {
    width: 100%;
  }

  a {
    color: #FC5800;
    text-decoration: none;
  }
    a:visited {
        color: #620e0e;
        text-decoration: none;
    }    
    a:hover {
          color: #f3cab4;
          text-decoration: underline;    
    }
    a:focus {
      color: #FC5800;
      text-decoration: none;
    }
    a:active {
        color: #FC5800;
        text-decoration: none;
    }
    
    .button {
        display: inline-block; 
        background-color: #383838;
        color: #ffffff; 
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #191919;
        transition: 0.2s opacity;
      }

      .button:hover {
        background-color: #FC5800;
        opacity: 0.8; 
        text-decoration: none;
      }

      .button.contact {
        display: inline-block; 
        background-color: #383838;
        color: #ffffff; 
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid #191919;
        transition: 0.2s opacity;
      }

      .button.contact:hover {
        background-color: #FC5800;
        opacity: 0.8; 
        text-decoration: none;
      }

/* Layout styling */

.container {
   padding: 0 15px;
 }

 .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 250px;
}

#hero {
  background-color: #ffffff;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.social-icon {
  width: 10%;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
}

